<h3><code>ng2-dragula</code></h3>

<hr>
<h4>Simple drag and drop example</h4>
<div>
  <div class="wrapper">
    <div class="container" dragula="DRAGULA_FACTS">
      <div class="vamp">You can move these elements between these two containers</div>
      <div class="vamp">Moving them anywhere else isn't quite possible</div>
      <div class="vamp">There's also the possibility of moving elements around in the same container, changing their
        position</div>
    </div>

    <div class="container" dragula="DRAGULA_FACTS">
      <div class="vamp">This is the default use case. You only need to specify the containers you want to use</div>
      <div class="vamp">More interactive use cases lie ahead</div>
      <div class="vamp">Make sure to check out the <a href="https://github.com/bevacqua/dragula#readme">documentation on
          GitHub!</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="flex" style="margin-top: 10%;">

    <div class="container" dragula="VAMPIRES" [(dragulaModel)]="vamps">
      <div class="vamp" *ngFor="let vamp of vamps">{{ vamp.name }}</div>
    </div>

    <div class="container" dragula="VAMPIRES" [(dragulaModel)]="vamps2">
      <div class="vamp" *ngFor="let vamp of vamps2">{{ vamp.name }}</div>
    </div>

    <div class="container" dragula="VAMPIRES" [(dragulaModel)]="vamps3">
      <div class="vamp" *ngFor="let vamp of vamps3">{{ vamp.name }}</div>
    </div>

    <div class="container" dragula="VAMPIRES" [(dragulaModel)]="vamps4">
      <div class="vamp" *ngFor="let vamp of vamps4">{{ vamp.name }}</div>
    </div>

  </div>

  <hr>

  <div class="flex" style="margin-top: 10%;">
    <div class='container' dragula="PERSON" id="left" [(dragulaModel)]="left">
      <div class="vamp" *ngFor="let person of left">{{person | json}}</div>
    </div>
    <div class='container' dragula="PERSON" id="right" [(dragulaModel)]="right">
      <div class="vamp" *ngFor="let person of right">{{person | json}}</div>
    </div>
  </div>

  <hr>

  <div class="flex" style="margin-top: 10%;">
    <div class='container' dragula="COPYABLE" id="left">
      <div class="vamp" *ngFor="let item of contentLeft">{{item.text}}{{item.text2}}</div>
    </div>
    <div class='container' dragula="COPYABLE" id="right">
      <!-- <div class="vamp" *ngFor="let item of contentRight">{{item.text}}</div> -->
    </div>
  </div>



</div>








<router-outlet></router-outlet>